body {
	font-family: lato;
	text-align: center;
	font-size: 150%;
	margin-left: 10%;
	margin-right: 10%;
	    margin-top: 0;
}

@media only screen and (max-width: 650px) {
    body {
        margin: initial;
    }
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

.sepOne {
	background: rgba(211, 211, 211, 0.15);
	padding: 3% 0 3% 0;
}

.sepTwo {
	background: rgba(0,0,0,0);
	padding: 3% 0 3% 0;
}

.div100 {
	overflow: auto;
}

.div50 {
	float: left;
	width: 50%;
	transition: 0.5s;
	padding: 3% 0 3% 0;
}

.div50 a {
	display: inline-block;
	text-decoration: none;
	color: black;
	width: 100%;

}

.div50:hover {
	background: lightblue;
}

.bButton {
	padding: 20px 50px;
	display: inline-block;
}

.bButton a {
	text-decoration: none;
	padding: 20px 50px;
	color: black;
	background: lightblue;
}

.bButton a:hover {
	background: rgba(173, 216, 230, 0.5);
}

pre {
	font-family: liberation mono;
	color: blue;
}

@media only screen and (max-width: 1010px) {
    .div50 {
        width: 100%;
        float: initial;
    }
}


@media only screen and (max-width: 500px) {
    .div50 pre {
        font-size: 50%;
    }
}


hr {
	border: none;
    height: 1px;
    background: #e4e4e4;
}

/* footer */
footer {
	position: relative;
	bottom: 0;
	text-align: initial;
}

footer h5 {
	margin: 0;
}

footer ul {
	font-size: 80%;
	margin: 0;
}
