body {
	font-family: lato;
	text-align: center;
	font-size: 150%;
}

.div50 {
	float: left;
	width: 50%;
}

hr {
	border: none;
    height: 1px;
    background: #e4e4e4;
}

pre {
	font-family: liberation mono;
	color: blue;
}
