body {
    font-family: lato;
    text-align: center;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

@media only screen and (max-width: 650px) {
    body {
        margin: initial;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0 0 4px 0;
}

.sepOne, .sepTwo {
    padding: 6% 0 6% 0;
    line-height: 140%;
}

.sepOne {
    background: rgba(211, 211, 211, 0.32);
}

.sepTwo {
    background: rgba(0,0,0,0);
}

.div100 {
    overflow: auto;
}

.div50 {
    float: left;
    width: 50%;
    transition: 0.5s;
    padding: 6% 0 6% 0;
}

.div50 a {
    display: inline-block;
    text-decoration: none;
    color: black;
    /* padding: 6% 0 6% 0; */
    width: 100%;
    /* height: 400px; */
}

.div50:hover {
    background: lightblue;
}

.bButton {
    margin: 20px 0 0 0;
    padding: 20px 50px;
    display: inline-block;
}

.bButton a {
    text-decoration: none;
    padding: 20px 50px;
    color: black;
    background: lightblue;
}

.bButton a:hover {
    background: rgba(173, 216, 230, 0.5);
}

pre {
    font-family: liberation mono;
    color: blue;
}

@media only screen and (max-width: 1010px) {
    .div50 {
        width: 100%;
        float: initial;
    }
}

@media only screen and (max-width: 500px) {
    .div50 pre {
        font-size: 50%;
    }
}

hr {
    border: none;
    height: 1px;
    background: #b8b8b8;
}

/* footer */
footer {
    position: inherit;
    bottom: 0;
    /* background: black; */
    /* color: white; */
    text-align: initial;
    padding: 2%;
}


footer a:hover {
    color: lightblue;
}

footer h5 {
margin: 0;
}

